body{
	margin :0;
}

/****************** Header ******************/
div#header{
	margin-bottom: 60px;
	text-transform: uppercase;
	font-family: 'Quicksand';
	margin-top: 30px;
}
div#header h1{
	font-family: 'intro_regular';
	text-align: center;
    font-size: 12px;
}

div#header ul{
	font-size: 15px;
	list-style: none;
	text-align: center;
	margin: 0;
    padding: 0;
    width: 100%;
    height:0px
}
div#header ul li{
	display : inline;
	padding : 0 70px;
}

div#header ul li a{
    color: inherit;
	text-decoration:none;
}
div#header ul li a:hover, ul li a:focus{
	 border-bottom-style:solid;
	 text-decoration:none;
}

div#choix-lang{
	font-size: 11px;
	float: right;
	margin-right: 10%;
}

#choix-lang .secondaire{
	color: #808080;
	display:none;
}
#choix-lang:hover .secondaire{
	display:block;
}
#choix-lang a{
	text-decoration:none;
    color: inherit;
}
#choix-lang a#primaire:after{
	content: '\02C5';
}

/****************** Footer ******************/
footer{
	background-color: #000;
	/*bottom: 0;
	left: 0;
	right: 0;
	margin-top:50px;*/
	font-family: 'Quicksand', sans-serif;
}
footer div#content-footer{
	margin: 0 10%;
	padding: 20px 0;
	color:#fff;
}
.footer-case:first-child {
    margin-left: 0px;
}
.footer-case {
    padding: 0;
    margin-left: 30px;
}
.footer-case.left {
    float: left;
}
.footer-case.right {
    float: right;
}
.footer-case p {
    margin: 12px 0;
}
footer p.coordonnees{
	font-size:12px;
}
footer p.mentions{
	font-size:10px;
}
.share-icons{
	height:13px;
}

/****************** Autres ******************/
.clear {
    clear: both;
}

@font-face {
    font-family: 'intro_regular';
    src: url('typo/intro-webfont.eot');
    src: url('typo/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/intro-webfont.woff2') format('woff2'),
         url('typo/intro-webfont.woff') format('woff'),
         url('typo/intro-webfont.ttf') format('truetype'),
         url('typo/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('typo/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
