/*********** BLOCS ***********/
div#page-projet{
	margin:0 10%;
}
div#page-projet-content{
	margin:auto;
}
div#page-projet img{
	width:100%;
}
div#projet-bloc-middle{
	margin:0 5%;
}

div#projet-bloc-middle__left{
	width: 39%;
	float: left;
}
p#bloc-description{
	margin-left:2%;
	width: 59%;
	float: right;
}
/*********** FONTS ***********/
div#page-projet-content #projet-bloc-middle__left h1 {
	font-family: 'intro_regular';
	text-transform: uppercase;
    font-size: 13px;
}
div#page-projet-content #projet-bloc-middle__left p {
	font-family: 'Quicksand';
    font-size: 13px;
}
div#page-projet-content #bloc-title p {
	text-transform: uppercase;
}
div#page-projet-content #bloc-description{
	font-family: 'Quicksand';
    font-size: 13px;
}
/*********** SWITCHS ***********/
.switch-projet{
	position : fixed;
	top : 45%;
}
#switch-gauche.switch-projet{
	left:2px;
}
#switch-gauche.switch-projet a{
	background :url('../img/fleche-gche.png') no-repeat;
}
#switch-gauche.switch-projet a:hover{
	background :url('../img/fleche-gche-hover.png') no-repeat;
}
#switch-droit.switch-projet {
	right:2px;
}
#switch-droit.switch-projet a{
	background :url('../img/fleche-dte.png') no-repeat;
}
#switch-droit.switch-projet a:hover{
	background :url('../img/flche-dte-hover.png') no-repeat;
}
.switch-projet a{
	width: 39px;
	height: 39px;
	display:block;
}
.switch-projet a > span{
	display: none; 
	text-decoration:none;
	width: 200px;
	margin-top: 25%;
	font-family: 'Quicksand';
    font-size: 17px;
	font-weight : bold;
}
.switch-projet a:hover span{
	color: #000000; 
	background: #ffffff;
	display: inline-block;
}
.switch-projet a:hover span.title-left{
	margin-left:40px;
}
.switch-projet a:hover span.title-right{
	position: relative;
	right: 204px;
	text-align: right;
}
