/*********** BLOCS ***********/
div#page-projet{
	margin:0 10%;
}
div#page-projet-content{
	margin:auto;
}
div#page-projet img{
	width:100%;
}
div#projet-bloc-middle{
	margin:3% 5%;
	overflow: hidden;
}
div#projet-bloc-middle a{
	text-decoration: none;
	color: #000000;
}
div#projet-bloc-middle a:hover, a:focus{
	border-bottom-style:solid;
	padding-bottom: 4px;
	border-width: 2px;
}
div#projet-bloc-middle__left{
	width: 39%;
	float: left;
}
p#bloc-description{
	margin-left:2%;
	width: 59%;
	float: right;
}
/*********** FONTS ***********/
div#page-projet-content #projet-bloc-middle__left h1 {
	font-family: 'intro_regular';
	text-transform: uppercase;
    font-size: 13px;
	margin-bottom: 6px;
}
div#page-projet-content #projet-bloc-middle__left p {
	font-family: 'Quicksand';
    font-size: 13px;
	margin-top:0;
}
div#page-projet-content #bloc-title p {
	text-transform: uppercase;
}
div#page-projet-content #bloc-title {
	margin-bottom: 20px;
}
div#page-projet-content #bloc-description{
	font-family: 'Quicksand';
    font-size: 13px;
}
/*********** SWITCHS ***********/
#switch-projet{
	position : fixed;
	top : 45%;
	width : 100%;
}
.switch-projet__cell{
	display:block;
	line-height: 35px;
}
.switch-projet__cell.cell--left{
	float:left;
	margin-left : 5%;
}
.switch-projet__cell.cell--left span{
	padding-left : 5%;
}
.switch-projet__cell.switch-projet__cell *{
	float:inherit;
}
.switch-projet__cell.cell--right{
	float:right;
	margin-right : 5%;
}
.switch-projet__cell.cell--right span{
	padding-right : 5%;
}
.switch-projet__cell.large-cell{
	width:45%;
}
a.switch-projet__cell{
	width: 38px;
}
.switch-projet__cell{
	height: 37px;
}
#switch-projet a#switch-gauche.switch-projet__cell{
	background :url('../img/fleche-gche.png') no-repeat;
}
#switch-projet a#switch-gauche.switch-projet__cell:hover{
	background :url('../img/fleche-gche-hover.png') no-repeat;
}
#switch-projet a#switch-droit.switch-projet__cell{
	background :url('../img/fleche-dte.png') no-repeat;
}
#switch-projet a#switch-droit.switch-projet__cell:hover{
	background :url('../img/flche-dte-hover.png') no-repeat;
}
#switch-projet .switch-projet__cell span{
	background-color : white;
	font-family: 'Quicksand';
	font-size: 13px;
	text-transform:uppercase;
	display : none;
}
#switch-projet .switch-projet__cell a:hover + span{
	display : block;
}
a.switch-projet__cell:focus{
	border:0;
}
