/****************** Header ******************/
div#header{
	margin-bottom: 60px;
}
div#header h1{
	text-align: center;
}

div#header ul{
	list-style: none;
	text-align: center;
	margin: 0;
    padding: 0;
    width: 100%;
    height:0px
}
div#header ul li{
	display : inline;
	padding : 0 70px;
}

div#header ul li a{
    color: inherit;
	text-decoration:none;
}
div#header ul li a:hover, ul li a:focus{
	 border-bottom-style:solid;
	 text-decoration:none;
}

div#choix-lang{
	float: right;
	margin-right: 90px;
}

#choix-lang .secondaire{
	display:none;
}
#choix-lang:hover .secondaire{
	display:block;
}
#choix-lang a{
	text-decoration:none;
    color: inherit;
}
#choix-lang a#primaire:after{
	content: '\02C5';
}

/****************** bloc image accueil ******************/
div.img-accueil{
	position: relative;
	overflow:hidden;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(255,255,255,0.5);
  color: black;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

div.bloc-accueil:hover span.text-content {
  opacity: 1;
}

div.img-accueil img{
	bottom:0px;
	width:100%;
}

/****************** Autres ******************/
.clear {
    clear: both;
}

/****************** MASONRY ******************/
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 106px;
  float: left;
  padding:2px;
}

.grid-item--width2 { width: 212px; }
.grid-item--width3 { width: 318px; }
.grid-item--width4 { width: 424px; }

