<div class="row">
  <div class="col-md-6">
    <a href="#!/tags">Gérer les tags</a><br/>
    <br/>
    <a href="#!/editProject">Ajouter un projet</a><br/>
    <a href="#">Modifier/supprimer un projet</a>
  </div>
  <div class="col-md-6">
    <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
  </div>
</div>
